<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href='{{ url_for(".static", filename="images/egggame/EGG.png") }}' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EGG GAME</title>
    <link rel="stylesheet" href='{{ url_for(".static", filename="css/egggame.css") }}'>
    <script type="module" crossorigin src='{{ url_for(".static", filename="js/egggame.js") }}'></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
