<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/home.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INFORMATION SUPERHIGHWAY</title>
  <script src=" {{ url_for('.static', filename='js/browser.js') }}"></script>
  <script>
    window.addEventListener("load", (event) => {
      new cursoreffects.ghostCursor();
    });
  </script>
</head>
<body>

  <table>
  <tr>
  <td style="vertical-align: top;">
  <div id="nav">

    <h1 class="title blink center">Welcome to Disconnect!</h1>
    <h1 class="subtitle center">Putting the Disco back in 'Disconnect from Reality'™</h2>
    <center>
      <IMG SRC="{{ url_for('.static', filename='images/computer-01.gif') }}">
    </center>

    <nav id="menu">
      <ul>
        <li><a href="guestbook.html" target="main_iframe">Guestbook</a></li>
        <li><a href="wipeout.html" target="main_iframe">wip3out</a></li>
        <li><a href="egggame.html" target="main_iframe">Cool game</a></li>
        <li><a href="bait.html" target="main_iframe">Ramshackle Bait + Tackle Reservations</a></li>
      </ul>
    </nav>
  </div>

  <br/>
  <br/>
  <IMG SRC="{{ url_for('.static', filename='images/ledsign.gif') }}">
  <br/>
  <br/>
  <IMG SRC="{{ url_for('.static', filename='images/warnsign.gif') }}">
  <IMG SRC="{{ url_for('.static', filename='images/warnsign.gif') }}">

  </td>
  <td style="width: 100%; height: 100%;">
    <iframe
        id="main_iframe"
        name="main_iframe"
        src="guestbook.html"
        width="100%"
        height="700"
        frameborder="2"
    ></iframe>
  </td>
  </tr>
  <table>

</body>
</html>
