<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/home.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/98.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INFORMATION SUPERHIGHWAY</title>
  <script src=" {{ url_for('.static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src=" {{ url_for('.static', filename='js/lodash.js') }}"></script>
  <script src=" {{ url_for('.static', filename='js/customPopup.js') }}"></script>
  <script src=" {{ url_for('.static', filename='js/browser.js') }}"></script>
  <script>
    window.addEventListener("load", (event) => {
      new cursoreffects.ghostCursor();
    });

    // Refresh to dialup after 15 minutes
    setTimeout(function() {
      window.location = "/"
    }, 1000 * 60 * 15);

    // Spam a lot of popups at 14.5 minutes
    setTimeout(function() {
      setInterval(popup, 200);
    }, 1000 * 60 * 14 + 1000 * 30);

    function popup() {
      let xmin = 0;
      let xmax = 500;
      let ymin = 0;
      let ymax = 700;
      let numPopups = _.random(2, 5);

      let images = [
        "{{ url_for('.static', filename='images/popups/mail.gif') }}",
        "{{ url_for('.static', filename='images/popups/rotglobe.gif') }}",
        "{{ url_for('.static', filename='images/popups/smallerskull.gif') }}",
        "{{ url_for('.static', filename='images/popups/smiling.gif') }}",
        "{{ url_for('.static', filename='images/popups/superhighway.gif') }}",
        "{{ url_for('.static', filename='images/popups/funmeter.gif') }}",
        "{{ url_for('.static', filename='images/popups/suckmeter.gif') }}",
        "{{ url_for('.static', filename='images/popups/www.gif') }}",
      ]

      _.range(numPopups).forEach((current, index, range) => {
        let randomImageIndex = _.random(0, images.length-1);
        let randomX = _.random(xmin, xmax);
        let randomY = _.random(ymin, ymax);
        $(`#popup0${current}`).customPopup({
          top: `${randomX}px`,
          left: `${randomY}px`,
          imgSrc: images[randomImageIndex]
        });
      })

    }
  </script>
</head>
<body>

  <div id="viewport">
    <div id="popup01"></div>
    <div id="popup02"></div>
    <div id="popup03"></div>
    <div id="popup04"></div>
    <div id="popup05"></div>

    <table id="ignore" class="navigation ignore">
    <tr>
    <td style="vertical-align: top;">
    <div id="nav">

      <h1 class="title blink center">Welcome to Disconnect!</h1>
      <h1 class="subtitle center">Putting the Disco back in 'Disconnect from Reality'™</h2>
      <center>
        <IMG SRC="{{ url_for('.static', filename='images/computer-01.gif') }}">
      </center>

      <nav id="menu">
        <ul>
          <li><a href="guestbook.html" target="main_iframe" style="color: hotpink; font-size: 18px;">Guestbook</a></li>
          <li><a href="wipeout.html" target="main_iframe" style="color: hotpink; font-size: 18px;">wip3out</a></li>
          <li><a href="egggame.html" target="main_iframe" style="color: hotpink; font-size: 18px;">Cool game</a></li>
          <li><a href="bait.html" target="main_iframe" style="color: hotpink; font-size: 18px;">Ramshackle Bait + Tackle Reservations</a></li>

        </ul>
      </nav>
    </div>

    <hr>
    <br/>
    <center>
    <div class="neonText">
      {{'%010d' % counter }}
    </div>
    <p>
      So far {{counter}} people have visited Disconnect since Gate Opened
    </p>
    </center>

    <br/>
    <IMG SRC="{{ url_for('.static', filename='images/ledsign.gif') }}" style="width:160px;">
    <br/>
    <br/>
    <IMG SRC="{{ url_for('.static', filename='images/warnsign.gif') }}" style="width:50px;">
    <IMG SRC="{{ url_for('.static', filename='images/warnsign.gif') }}" style="width:50px;">
    <IMG SRC="{{ url_for('.static', filename='images/warnsign.gif') }}" style="width:50px;">

    </td>
    <td style="width: 100%; height: 100%;">
      <iframe
          id="main_iframe"
          name="main_iframe"
          src="guestbook.html"
          width="100%"
          height="100%"
          style="position: absolute; height: 100%; width: 85%; border: none; top: 0px; left: 180px; z-index: 0;"
      ></iframe>
    </td>
    </tr>
    <table>
  </div>

  <script>
    // Spawn a popup every 5 minutes
    setInterval(popup, 1000 * 60 * 5);
  </script>
</body>
</html>
