* {
  font-family: "Comic Sans MS", sans-serif;
}

html, body {
  background-image: url('/cgi_bin/static/images/ramshackle/fish.gif');
  background-color: #000;
  height: 100%;
  overflow-x: hidden;
}

.center{
  text-align: center;
}

.entries-list {
  margin-top: 40px;
  padding: 0 40px;
}

.entries-list .entry{
  margin-bottom: 20px;
  border: 2px solid #fff;
  background-color: #fff;
}

.entries-list .entry .top-row{
  background-color: #ae56ff;
  width: 100%;
  clear: both;
}

.entries-list .entry .top-row .name{
  padding: 100px 100px;
}

.entries-list .entry .top-row .name{
  padding: 4px 8px;
  font-weight: 900;
  font-size: larger;
}

.entries-list .entry .top-row .time{
    float: right;
}

.entries-list .entry .content-body{
  padding: 5px 10px 5px 10px;
}
